.login__button {
    border: none;
    border-radius: 4px;
    width: 100%;
    margin: 10px 0;
    font-family: inherit;
    color: white;
    font-weight: 500;
}

.login__button-login {
    @extend .login__button;
    text-transform: uppercase;
    font-size: 16x;
    max-height: 60px;
    height: 8vh;
    background-color: #28d2d0;
}

.login__button-login_with-google {
    @extend .login__button;
    max-height: 48px;
    height: 6vh;
    font-size: 14px;
    background-color: rgb(255, 70, 70);
}